1.initial/postgre config/storage file/*
1.initial/postgre config/testin ingest/*
1.initial/postgre config/ny_green_taxi_postgres_data/*
1.initial/postgre config/eror kenapa ga jalan querynya/*
1.initial/postgre config/ny_taxi_postgres_data/*

tes.py
note.txt